* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2f3136;
    color: #fff;
    display: flex;
    height: 100vh;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

#sidebar {
    width: 280px;
    background: #202225;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: 4px 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px 0 0 10px;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

#logo {
    font-size: 30px;
    font-weight: bold;
    color: #7289da;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: #b9bbbe;
    font-size: 20px;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    display: block;
    transition: background 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333739;
    color: #fff;
}

#sidebar nav ul li a.active {
    font-weight: bold;
    color: #7289da;
}

#sidebar-footer {
    margin-top: auto;
    text-align: center;
    font-size: 14px;
    color: #b9bbbe;
    opacity: 0.7;
    font-weight: bold;
}

#main-content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #36393f;
    width: calc(100% - 280px);
    border-radius: 0 10px 10px 0;
    animation: fadeIn 1s ease-in-out;
}

#content-header h2 {
    font-size: 36px;
    color: #7289da;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    animation: bounce 3s ease infinite;
}

#content-body p {
    font-size: 22px;
    color: #b9bbbe;
    margin-bottom: 30px;
}

#button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fish-button {
    padding: 18px 35px;
    background-color: #7289da;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 6px 15px rgba(114, 137, 218, 0.5);
}

#fish-button:hover {
    background-color: #697dc5;
    transform: translateY(-1px);
}

#fish-button:active {
    transform: translateY(1px);
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(2px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
}
